<h1 style="text-align:left;">Welcome to OzFighters.com.au!</h1>
<h2 style="text-align:center;">Australia's First Comprehensive Fighter Database</h2>
<h4 style="text-align:right;">An Online Tool for Promoters, Trainers and Aussie Fight Fans</h4>

<p>
Welcome to OzFighters.com.au! From here you can search for practically any professional or amateur fighter in Australia. From boxing to MMA to Muay Thai, 
if you're a promoter trying to match up fighters or if you're simply a fan chasing details on your favourite brawler, this is the online tool for you.
</p>
